Parlis.Client/Connected Services/Services/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IChatManagement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IMatchManagement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IPlayerProfileManagement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IGameManagement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Parlis.Server.Service.Data" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IChatManagement_ConnectToChat_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToChat" />
  </wsdl:message>
  <wsdl:message name="IChatManagement_DisconnectFromChat_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectFromChat" />
  </wsdl:message>
  <wsdl:message name="IChatManagement_DisconnectFromChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectFromChatResponse" />
  </wsdl:message>
  <wsdl:message name="IChatManagement_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IChatManagement_ReceiveMessages_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveMessages" />
  </wsdl:message>
  <wsdl:message name="IChatManagement_ReceiveMessages_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchManagement_CheckMatchExistence_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckMatchExistence" />
  </wsdl:message>
  <wsdl:message name="IMatchManagement_CheckMatchExistence_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckMatchExistenceResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchManagement_ConnectToMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchManagement_CreateMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchManagement_CreateMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchManagement_DisconnectFromMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectFromMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchManagement_DisconnectFromMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectFromMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchManagement_GetPlayerProfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerProfiles" />
  </wsdl:message>
  <wsdl:message name="IMatchManagement_SetBoardMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:SetBoardMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchManagement_ReceivePlayerProfiles_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePlayerProfiles" />
  </wsdl:message>
  <wsdl:message name="IMatchManagement_ReceivePlayerProfiles_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePlayerProfilesResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchManagement_StarMatch_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StarMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchManagement_StarMatch_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StarMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_CheckPlayerExistence_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerExistence" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_CheckPlayerExistence_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerExistenceResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_CheckPlayerProfileExistence_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerProfileExistence" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_CheckPlayerProfileExistence_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerProfileExistenceResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_DeletePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_DeletePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_DeletePlayerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlayerProfile" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_DeletePlayerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlayerProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_GetPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_GetPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_GetPlayerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerProfile" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_GetPlayerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_RegisterPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_RegisterPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_RegisterPlayerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerProfile" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_RegisterPlayerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_SendMail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_SendMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_UpdatePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_UpdatePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_UpdatePlayerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerProfile" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_UpdatePlayerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IGameManagement_ConnectToBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToBoard" />
  </wsdl:message>
  <wsdl:message name="IGameManagement_DisconnectFromBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectFromBoard" />
  </wsdl:message>
  <wsdl:message name="IGameManagement_DisconnectFromBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectFromBoardResponse" />
  </wsdl:message>
  <wsdl:message name="IGameManagement_SendMove_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMove" />
  </wsdl:message>
  <wsdl:message name="IGameManagement_GetPlayerProfilesForBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerProfilesForBoard" />
  </wsdl:message>
  <wsdl:message name="IGameManagement_ReceiveMove_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveMove" />
  </wsdl:message>
  <wsdl:message name="IGameManagement_ReceiveMove_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveMoveResponse" />
  </wsdl:message>
  <wsdl:message name="IGameManagement_ReceivePlayerProfilesForBoard_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePlayerProfilesForBoard" />
  </wsdl:message>
  <wsdl:message name="IGameManagement_ReceivePlayerProfilesForBoard_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePlayerProfilesForBoardResponse" />
  </wsdl:message>
  <wsdl:portType name="IChatManagement">
    <wsdl:operation name="ConnectToChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatManagement/ConnectToChat" message="tns:IChatManagement_ConnectToChat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectFromChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatManagement/DisconnectFromChat" message="tns:IChatManagement_DisconnectFromChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChatManagement/DisconnectFromChatResponse" message="tns:IChatManagement_DisconnectFromChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatManagement/SendMessage" message="tns:IChatManagement_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveMessages">
      <wsdl:output wsaw:Action="http://tempuri.org/IChatManagement/ReceiveMessages" message="tns:IChatManagement_ReceiveMessages_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IChatManagement/ReceiveMessagesResponse" message="tns:IChatManagement_ReceiveMessages_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMatchManagement">
    <wsdl:operation name="CheckMatchExistence">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchManagement/CheckMatchExistence" message="tns:IMatchManagement_CheckMatchExistence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchManagement/CheckMatchExistenceResponse" message="tns:IMatchManagement_CheckMatchExistence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectToMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchManagement/ConnectToMatch" message="tns:IMatchManagement_ConnectToMatch_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchManagement/CreateMatch" message="tns:IMatchManagement_CreateMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchManagement/CreateMatchResponse" message="tns:IMatchManagement_CreateMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectFromMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchManagement/DisconnectFromMatch" message="tns:IMatchManagement_DisconnectFromMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchManagement/DisconnectFromMatchResponse" message="tns:IMatchManagement_DisconnectFromMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerProfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchManagement/GetPlayerProfiles" message="tns:IMatchManagement_GetPlayerProfiles_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetBoardMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchManagement/SetBoardMatch" message="tns:IMatchManagement_SetBoardMatch_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceivePlayerProfiles">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchManagement/ReceivePlayerProfiles" message="tns:IMatchManagement_ReceivePlayerProfiles_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchManagement/ReceivePlayerProfilesResponse" message="tns:IMatchManagement_ReceivePlayerProfiles_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="StarMatch">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchManagement/StarMatch" message="tns:IMatchManagement_StarMatch_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchManagement/StarMatchResponse" message="tns:IMatchManagement_StarMatch_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPlayerProfileManagement">
    <wsdl:operation name="CheckPlayerExistence">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/CheckPlayerExistence" message="tns:IPlayerProfileManagement_CheckPlayerExistence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/CheckPlayerExistenceResponse" message="tns:IPlayerProfileManagement_CheckPlayerExistence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPlayerProfileExistence">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/CheckPlayerProfileExistence" message="tns:IPlayerProfileManagement_CheckPlayerProfileExistence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/CheckPlayerProfileExistenceResponse" message="tns:IPlayerProfileManagement_CheckPlayerProfileExistence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/DeletePlayer" message="tns:IPlayerProfileManagement_DeletePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/DeletePlayerResponse" message="tns:IPlayerProfileManagement_DeletePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePlayerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/DeletePlayerProfile" message="tns:IPlayerProfileManagement_DeletePlayerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/DeletePlayerProfileResponse" message="tns:IPlayerProfileManagement_DeletePlayerProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/GetPlayer" message="tns:IPlayerProfileManagement_GetPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/GetPlayerResponse" message="tns:IPlayerProfileManagement_GetPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/GetPlayerProfile" message="tns:IPlayerProfileManagement_GetPlayerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/GetPlayerProfileResponse" message="tns:IPlayerProfileManagement_GetPlayerProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/Login" message="tns:IPlayerProfileManagement_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/LoginResponse" message="tns:IPlayerProfileManagement_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/RegisterPlayer" message="tns:IPlayerProfileManagement_RegisterPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/RegisterPlayerResponse" message="tns:IPlayerProfileManagement_RegisterPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/RegisterPlayerProfile" message="tns:IPlayerProfileManagement_RegisterPlayerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/RegisterPlayerProfileResponse" message="tns:IPlayerProfileManagement_RegisterPlayerProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/SendMail" message="tns:IPlayerProfileManagement_SendMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/SendMailResponse" message="tns:IPlayerProfileManagement_SendMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/UpdatePlayer" message="tns:IPlayerProfileManagement_UpdatePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/UpdatePlayerResponse" message="tns:IPlayerProfileManagement_UpdatePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/UpdatePlayerProfile" message="tns:IPlayerProfileManagement_UpdatePlayerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/UpdatePlayerProfileResponse" message="tns:IPlayerProfileManagement_UpdatePlayerProfile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGameManagement">
    <wsdl:operation name="ConnectToBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManagement/ConnectToBoard" message="tns:IGameManagement_ConnectToBoard_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectFromBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManagement/DisconnectFromBoard" message="tns:IGameManagement_DisconnectFromBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManagement/DisconnectFromBoardResponse" message="tns:IGameManagement_DisconnectFromBoard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMove">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManagement/SendMove" message="tns:IGameManagement_SendMove_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerProfilesForBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManagement/GetPlayerProfilesForBoard" message="tns:IGameManagement_GetPlayerProfilesForBoard_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveMove">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManagement/ReceiveMove" message="tns:IGameManagement_ReceiveMove_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManagement/ReceiveMoveResponse" message="tns:IGameManagement_ReceiveMove_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceivePlayerProfilesForBoard">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManagement/ReceivePlayerProfilesForBoard" message="tns:IGameManagement_ReceivePlayerProfilesForBoard_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManagement/ReceivePlayerProfilesForBoardResponse" message="tns:IGameManagement_ReceivePlayerProfilesForBoard_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IChatManagement" type="tns:IChatManagement">
    <wsp:PolicyReference URI="#NetTcpBinding_IChatManagement_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConnectToChat">
      <soap12:operation soapAction="http://tempuri.org/IChatManagement/ConnectToChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DisconnectFromChat">
      <soap12:operation soapAction="http://tempuri.org/IChatManagement/DisconnectFromChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IChatManagement/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReceiveMessages">
      <soap12:operation soapAction="http://tempuri.org/IChatManagement/ReceiveMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IMatchManagement" type="tns:IMatchManagement">
    <wsp:PolicyReference URI="#NetTcpBinding_IMatchManagement_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CheckMatchExistence">
      <soap12:operation soapAction="http://tempuri.org/IMatchManagement/CheckMatchExistence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchManagement/ConnectToMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchManagement/CreateMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisconnectFromMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchManagement/DisconnectFromMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerProfiles">
      <soap12:operation soapAction="http://tempuri.org/IMatchManagement/GetPlayerProfiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetBoardMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchManagement/SetBoardMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReceivePlayerProfiles">
      <soap12:operation soapAction="http://tempuri.org/IMatchManagement/ReceivePlayerProfiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StarMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchManagement/StarMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPlayerProfileManagement" type="tns:IPlayerProfileManagement">
    <wsp:PolicyReference URI="#NetTcpBinding_IPlayerProfileManagement_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CheckPlayerExistence">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/CheckPlayerExistence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPlayerProfileExistence">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/CheckPlayerProfileExistence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/DeletePlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePlayerProfile">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/DeletePlayerProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/GetPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerProfile">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/GetPlayerProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/RegisterPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayerProfile">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/RegisterPlayerProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/SendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/UpdatePlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerProfile">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/UpdatePlayerProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IGameManagement" type="tns:IGameManagement">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameManagement_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConnectToBoard">
      <soap12:operation soapAction="http://tempuri.org/IGameManagement/ConnectToBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DisconnectFromBoard">
      <soap12:operation soapAction="http://tempuri.org/IGameManagement/DisconnectFromBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMove">
      <soap12:operation soapAction="http://tempuri.org/IGameManagement/SendMove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerProfilesForBoard">
      <soap12:operation soapAction="http://tempuri.org/IGameManagement/GetPlayerProfilesForBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReceiveMove">
      <soap12:operation soapAction="http://tempuri.org/IGameManagement/ReceiveMove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceivePlayerProfilesForBoard">
      <soap12:operation soapAction="http://tempuri.org/IGameManagement/ReceivePlayerProfilesForBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_IChatManagement" binding="tns:NetTcpBinding_IChatManagement">
      <soap12:address location="net.tcp://localhost:8081/ChatManagement" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/ChatManagement</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-NSUUH5M\Propietario</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IMatchManagement" binding="tns:NetTcpBinding_IMatchManagement">
      <soap12:address location="net.tcp://localhost:8081/MatchManagement" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/MatchManagement</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-NSUUH5M\Propietario</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPlayerProfileManagement" binding="tns:NetTcpBinding_IPlayerProfileManagement">
      <soap12:address location="net.tcp://localhost:8081/PlayerProfileManagement" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/PlayerProfileManagement</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-NSUUH5M\Propietario</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IGameManagement" binding="tns:NetTcpBinding_IGameManagement">
      <soap12:address location="net.tcp://localhost:8081/GameManagement" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/GameManagement</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-NSUUH5M\Propietario</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>