Parlis.Client/Connected Services/Services/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPlayerProfileManagement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IMatchManagement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Parlis.Server.DataAccess" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlayerProfileManagement_CheckPlayerExistence_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerExistence" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_CheckPlayerExistence_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerExistenceResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_CheckPlayerProfileExistence_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerProfileExistence" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_CheckPlayerProfileExistence_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerProfileExistenceResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_GetPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_GetPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_RegisterPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_RegisterPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_RegisterPlayerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerProfile" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_RegisterPlayerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_SendMail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_SendMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_UpdatePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_UpdatePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_UpdatePlayerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerProfile" />
  </wsdl:message>
  <wsdl:message name="IPlayerProfileManagement_UpdatePlayerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchManagement_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:portType name="IPlayerProfileManagement">
    <wsdl:operation name="CheckPlayerExistence">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/CheckPlayerExistence" message="tns:IPlayerProfileManagement_CheckPlayerExistence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/CheckPlayerExistenceResponse" message="tns:IPlayerProfileManagement_CheckPlayerExistence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPlayerProfileExistence">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/CheckPlayerProfileExistence" message="tns:IPlayerProfileManagement_CheckPlayerProfileExistence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/CheckPlayerProfileExistenceResponse" message="tns:IPlayerProfileManagement_CheckPlayerProfileExistence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/GetPlayer" message="tns:IPlayerProfileManagement_GetPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/GetPlayerResponse" message="tns:IPlayerProfileManagement_GetPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/Login" message="tns:IPlayerProfileManagement_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/LoginResponse" message="tns:IPlayerProfileManagement_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/RegisterPlayer" message="tns:IPlayerProfileManagement_RegisterPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/RegisterPlayerResponse" message="tns:IPlayerProfileManagement_RegisterPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/RegisterPlayerProfile" message="tns:IPlayerProfileManagement_RegisterPlayerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/RegisterPlayerProfileResponse" message="tns:IPlayerProfileManagement_RegisterPlayerProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/SendMail" message="tns:IPlayerProfileManagement_SendMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/SendMailResponse" message="tns:IPlayerProfileManagement_SendMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/UpdatePlayer" message="tns:IPlayerProfileManagement_UpdatePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/UpdatePlayerResponse" message="tns:IPlayerProfileManagement_UpdatePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerProfileManagement/UpdatePlayerProfile" message="tns:IPlayerProfileManagement_UpdatePlayerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerProfileManagement/UpdatePlayerProfileResponse" message="tns:IPlayerProfileManagement_UpdatePlayerProfile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMatchManagement">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchManagement/Connect" message="tns:IMatchManagement_Connect_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPlayerProfileManagement" type="tns:IPlayerProfileManagement">
    <wsp:PolicyReference URI="#NetTcpBinding_IPlayerProfileManagement_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CheckPlayerExistence">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/CheckPlayerExistence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPlayerProfileExistence">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/CheckPlayerProfileExistence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/GetPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/RegisterPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayerProfile">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/RegisterPlayerProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/SendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/UpdatePlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerProfile">
      <soap12:operation soapAction="http://tempuri.org/IPlayerProfileManagement/UpdatePlayerProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IMatchManagement" type="tns:IMatchManagement">
    <wsp:PolicyReference URI="#NetTcpBinding_IMatchManagement_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IMatchManagement/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_IPlayerProfileManagement" binding="tns:NetTcpBinding_IPlayerProfileManagement">
      <soap12:address location="net.tcp://localhost:8081/PlayerProfileManagement" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/PlayerProfileManagement</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-6EK866S\majotigartua</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IMatchManagement" binding="tns:NetTcpBinding_IMatchManagement">
      <soap12:address location="net.tcp://localhost:8081/PlayerProfileManagement" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/PlayerProfileManagement</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-6EK866S\majotigartua</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>